.container{
	width: 1000px;
	margin: 5px auto;
	background-color: lightblue;
}

.span-8{
		margin: 10px auto;
		width: 800px;
	
}
table{
	float:left;
	background-color: #FFF;
	text-align: center;
}

pre{
	clear:both;
	margin-top: 10px;
}

.zebra {
	background-color: pink;
}